<md-card>
	<!--<md-card-header>-->
		<!--<md-button class="md-fab md-mini md-primary" aria-label="Home" ng-click="detail.goHome()">-->
			<!--<md-icon md-svg-icon="action:ic_home_24px" style="color: #FFFFFF"></md-icon>-->
		<!--</md-button>-->
	<!--</md-card-header>-->
	<md-card-content layout="row" flex>
		<div layout="column" flex layout-padding>
			<div layout="row">
				<span class="md-headline" flex="75">Thank you, your order has been placed successfully</span>
				<span flex></span>
				<md-button class="md-fab md-mini md-primary" aria-label="Home" ng-click="detail.goHome()">
					<md-icon md-svg-icon="action:ic_home_24px" style="color: #FFFFFF"></md-icon>
				</md-button>
			</div>
			<div layout="row">
				<span layout="column" class="md-title" flex="10">Order No: </span>
				<span layout="column" class="md-title" flex="10">{{detail.order.id}}</span>
				<span flex="10"></span>
				<span layout="column" class="md-title" flex="10">Status: </span>
				<span layout="column" class="md-title" flex>{{detail.order.status}}</span>
			</div>

			<div layout="column">
				<md-content>
					<h4 class="md-primary">Order Details</h4>
					<md-list>
						<md-list-item ng-repeat="item in detail.order.items" layout="row">
							<img ng-src="{{item.product.imageUrl}}" class="md-avatar" alt="{{item.product.name}}" layout="column" />
							<div class="md-list-item-text" layout="column" flex="66">
								<span class="md-subhead">{{item.product.name}}</span>
								<span class="md-body-2">{{item.product.description}}</span>
							</div>
							<div class="md-list-item-text" layout="column" flex="20" layout-align="end center">
								<span class="md-block">{{item.quantity}}</span>
							</div>
							<div class="md-list-item-text" layout="column" flex layout-align="end center">
								<span class="md-block">{{item.price}}</span>
							</div>
						</md-list-item>
						<md-list-item layout="row">
							<span class="md-avatar"></span>
							<span layout="column" class="md-title" flex="66">Order Total</span>
							<span flex="20"></span>
							<span class="md-title" flex layout-align="end center">{{detail.order.orderTotal}}</span>
						</md-list-item>
					</md-list>
				</md-content>
			</div>

			<!--<div layout="column">-->
				<!--<div layout="row" layout-sm="column">-->
					<!--<span class="md-offset"></span>-->
					<!--<h4 layout="column" class="md-primary" flex="66">Order Total</h4>-->
					<!--<span flex="20"></span>-->
					<!--<h4 class="md-title" flex>{{detail.order.orderTotal}}</h4>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</md-card-content>
</md-card>


<!--<md-content class="md-padding" flex id="order-detail-content">-->
	<!--<md-button class="md-icon-button" aria-label="Home" ng-click="detail.goHome()" flex>-->
		<!--<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>-->
	<!--</md-button>-->

    <!--<section class="section" layout="column">-->
			<!--<h1 class="md-display-1">Thank you, your order has been placed successfully</h1>-->
			<!--<div layout="row" layout-sm="column">-->
				<!--<h3 class="md-title" flex="10">Order: </h3>-->
				<!--<h3 class="md-title" flex>{{detail.order.id}}</h3>-->
			<!--</div>-->
			<!--<div layout="row" layout-sm="column">-->
				<!--<h3 class="md-title" flex="10">Status: </h3>-->
				<!--<h3 class="md-title" flex>{{detail.order.status}}</h3>-->
			<!--</div>-->
    <!--</section>-->

    <!--<section class="section" layout="column">-->
			<!--<h2 class="md-headline">Order Details</h2>-->
			<!--<md-list flex>-->
				<!--<md-list-item>-->
					<!--<span class="md-offset"></span>-->
					<!--<div class="md-list-item-text" layout="column" flex="66">-->
						<!--Product-->
					<!--</div>-->
					<!--<div class="md-list-item-text" layout="column" flex="20">-->
						<!--Quantity-->
					<!--</div>-->
					<!--<div class="md-list-item-text" layout="column" flex>-->
						<!--Price-->
					<!--</div>-->
				<!--</md-list-item>-->
				<!--<md-list-item class="md-3-line" ng-repeat="item in detail.order.items">-->
					<!--<img ng-src="{{item.product.imageUrl}}" class="md-avatar" alt="{{item.product.name}}" />-->
					<!--<div class="md-list-item-text" layout="column" flex="66">-->
						<!--<h3>{{ item.product.name }}</h3>-->
						<!--<h4>{{ item.product.description }}</h4>-->
						<!--<p>{{ item.product.status }}</p>-->
					<!--</div>-->
					<!--<div class="md-list-item-text" layout="column" flex="20">-->
						<!--<p>{{item.quantity}}</p>-->
					<!--</div>-->
					<!--<div class="md-list-item-text" layout="column" flex>-->
						<!--<span class="md-block">{{item.price}}</span>-->
					<!--</div>-->
				<!--</md-list-item>-->
			<!--</md-list>-->
    <!--</section>-->

	<!--<section class="section" layout="column">-->
		<!--<div layout="row" layout-sm="column">-->
			<!--<h3 class="md-title" flex="66">Total:</h3>-->
			<!--<span flex="20"></span>-->
			<!--<h3 class="md-title" flex>{{detail.order.orderTotal}}</h3>-->
		<!--</div>-->
	<!--</section>-->

<!--</md-content>-->


