
<!-- SIDENAV CONTENT -->
<md-content class="content" flex>
     <section>
         <md-subheader class="md-teal-100-bg">Show Result For</md-subheader>
         <md-list>
           <md-list-item>
               <span class="md-caption">Shrimp</span>
           </md-list-item>
            
         </md-list>
     </section>
     <section>
         <md-subheader class="md-teal-100-bg">Certification</md-subheader>
         <md-list >
           <md-list-item>
                <md-checkbox ng-model="data.cb1" aria-label="FDA">
                    
               </md-checkbox>
               <span class="md-caption grey-fg">FDA</span>
           </md-list-item>
           <md-list-item class="md-1-line">
                <md-checkbox ng-model="data.cb2" aria-label="HACCP">
                    
               </md-checkbox>
               <span class="md-caption grey-fg">HACCP</span>
           </md-list-item>
         </md-list>
     </section>
     <section>
         <md-subheader class="md-teal-100-bg">Style</md-subheader>
         <md-list>
           <md-list-item>
               <md-checkbox ng-model="data.cb3" aria-label="Frozen">
                    
               </md-checkbox>
               <span class="md-caption grey-fg">Frozen</span>
           </md-list-item>
           <md-list-item>
               <md-checkbox ng-model="data.cb4" aria-label="Fresh">
                  
               </md-checkbox>
               <span class="md-caption grey-fg">Fresh</span>
           </md-list-item>
         </md-list>
     </section>
      <section>
         <md-subheader class="md-teal-100-bg">Variety</md-subheader>
         <md-list>
           <md-list-item>
               <md-checkbox ng-model="data.cb5" aria-label="Black Tiger">
                    
               </md-checkbox>
               <span class="md-caption grey-fg">Black Tiger</span>
           </md-list-item>
           <md-list-item>
               <md-checkbox ng-model="data.cb6" aria-label="Shrimp">
                    
               </md-checkbox>
               <span class="md-caption grey-fg"> Shrimp</span>
           </md-list-item>
         </md-list>
     </section>
</md-content>
<!-- / SIDENAV CONTENT -->