<md-dialog aria-label="Cart" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Shopping Cart</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list flex>
					<md-list-item>
						<span class="md-offset"></span>
						<div class="md-list-item-text" layout="column" flex="66">
							Product
						</div>
						<div class="md-list-item-text" layout="column" flex>
							Quantity
						</div>
					</md-list-item>
				<md-list-item class="md-3-line" ng-repeat="item in cart.items" ng-click="null">
					<img ng-src="{{item.product.imageUrl}}" class="md-avatar" alt="{{item.product.name}}" />
					<div class="md-list-item-text" layout="column" flex="66">
						<h3>{{ item.product.name }}</h3>
						<h4>{{ item.product.description }}</h4>
						<p>{{ item.product.status }}</p>
					</div>
					<div class="md-list-item-text" layout="column" flex>
						<md-input-container md-no-float class="md-block">
							<input ng-model="item.quantity" type="text" placeholder="Quantity">
						</md-input-container>
					</div>
				</md-list-item>
				</md-list>
		</md-content>
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button class="md-raised md-primary" ng-click="hide()">Continue Shopping</md-button>
		<md-button class="md-raised md-primary" ng-click="checkout()">Checkout</md-button>
	</div>
</md-dialog>
