#order-main-content {}

.custom-logo {
	font-size: 24px !important;
	letter-spacing: 0.05em !important;
	box-sizing: border-box !important;
	font-weight: 800 !important;
	color: #FFFFFF !important;
}

.custom-logo-invert {
	color: #000000 !important;
}
