<md-content ng-if="list.orders.length" id="order-items-content" flex>

	<md-list layout="column">

		<md-item class="list-head" hide-sm>

			<md-item-content>
				<div class="md-tile-content" flex="66">
					<h4>Name</h4>
				</div>
                <div class="md-tile-content" flex hide show-gt-md>
                    <h4>Active</h4>
                </div>
			</md-item-content>

			<md-divider md-inset></md-divider>

		</md-item>

		<md-item ng-repeat="order in list.orders"
				ng-click="items.showInDetails(order)"
				ng-class="{'selected': items.isSelected(order)}">

			<md-item-content>

				<div class="md-tile-left">
				    <list-image string="{{order.name}}"></list-image>
				</div>

				<div class="md-tile-content" flex="66">
					<h3>{{order.name}}</h3>
                    <p ng-show="order.info">{{order.info}}</p>
				</div>

				<div class="md-tile-content" flex hide show-gt-md>
                    <h3>
                        <md-icon ng-show="order.active" class="list-info" md-svg-icon="toggle:ic_check_box_24px"></md-icon>
                        <md-icon ng-show="!order.active" class="list-info" md-svg-icon="toggle:ic_check_box_outline_blank_24px"></md-icon>
                    </h3>
                </div>

			</md-item-content>

			<md-divider md-inset></md-divider>

		</md-item>

	</md-list>

</md-content>

<md-content ng-if="!list.orders.length">
	<md-card>
		<md-card-content>
			<h2>No Orders found</h2>
			<p>
				There are no Orders!
				<a ui-sref="order.list.create">Create one!</a>
			</p>
		</md-card-content>
	</md-card>
</md-content>

<a ui-sref="order.list.create">
	<md-button hide-gt-md ui-sref="order.list.create" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new order">
	    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
	</md-button>
</a>
